:root {
    --negro-suave: #333;
    --blanco-suave: #dfdfdf;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100dvh;
}

/*** CABECERA ****/
.main-header {
    width: 100%;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20dvh;
    padding: 0 2rem;

    ul {
        list-style-type: none;
        display: flex;
        gap: 1rem;
    }

    a {
        color: var(--negro-suave);
        text-decoration-color: transparent;
        transition: all .3s ease-in-out;

        &:hover {
            color: #3737ff;
            text-decoration-color: #3737ff;
        }
    }
}

.hero {
    height: 80dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;

    background: 
        linear-gradient(180deg, rgba(0, 0, 0, 0.75), rgb(255, 255, 255)),
        url("../assets/images/hedwif.gif") no-repeat center top;
        background-size: cover;

    h1 {
        color: #dfdfdf;
        text-shadow: 0 0 5px var(--negro-suave);
        font-size: 4rem;
    }

    img {
        height: 150px;
    }
}

.cta {
    border: 0;
    background-color: #dfdfdf;
    padding: .5rem .9rem .6rem;
    font-size: 1.2rem;
    border-radius: 5000px;
    color: #333;
    text-decoration: none;
    transition: all .3s ease-in-out;

    &:hover {
        color: #dfdfdf;
        background-color: #3737ff;
    }
}

/*** CONTENIDO ****/
main {
    width: 65dvw;
}

.seccion {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        width: 30%;
    }
}

/*** PIE DE PÁGINA ****/
.main-footer {
    background-color: green;
    width: 100%;
    height: 17dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}