* {
    box-sizing: border-box;

    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    min-height: 100dvh;

    --color-primario: #143;
    --color-blanco: #f9f9f9;
    --color-negro: #333;
}

.header-main {
    min-height: 25dvh;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    box-shadow: 0 0 8px var(--color-primario);
    margin-bottom: 2rem;

    color: var(--color-blanco);
    background: linear-gradient(25deg, var(--color-primario) 25%, var(--color-negro));

    h1 {
        text-shadow: 0 0 10px var(--color-negro);
    }
}

main {
    width: 80%;
    text-align: center;

    h2 {
        margin-bottom: 2rem;
    }

    @media screen and (max-width: 500px) {
        width: 100%;
    }
}
.tablaTareas {
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
    text-align: left;
    margin-top: 2rem;
    box-shadow: 0 0 2px var(--color-primario);

    th, td {
        padding: .25rem .3rem;
    }

    th {
        background-color: var(--color-primario);
        color: var(--color-blanco);
        text-align: center;
    }

    td {
        white-space: nowrap;
        
    }

    tr {
        border-bottom: 1px solid var(--color-negro);
        transition: all .3s ease-in-out;
    }

    tr:last-child {
        border: none;
    }

    tbody tr:nth-child(odd) {
        background-color: #d3d3d3;
    }

    tbody tr:hover {
        background-color: #a3a3a3;
        cursor: pointer;
    }
}


.footer-main {
    background-color: var(--color-primario);
    color: var(--color-blanco);
    width: 100%;
    min-height: 10dvh;
    margin-top: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}