<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>BattleOwl</title>

        <link rel="shortcut icon" href="../assets/icons/icon_owl.png" type="image/x-icon">
        <link rel="stylesheet" href="../styles/main.css">
        <link rel="stylesheet" href="../styles/tienda.css">
    </head>

    <body>
        <!--HEADER DE LA PÁGINA, PUEDE HABER OTROS HEADER DE ARTICLE O SECTION-->
        <header class="main-header">
            <nav class="main-nav">
                <a href="../index.html">BattleOwl</a>
                <ul>
                    <li><a href="tienda.html">Tienda</a></li>
                    <li><a href="nosotros.html">Nosotros</a></li>
                    <li><a href="contacto.html">Contacto</a></li>
                </ul>
            </nav>
            <div class="hero">
                <h1>Compra tu Búho</h1>
                <div>
                    <a href="#contenido" class="cta">&darr;</a>
                </div>
            </div>
        </header>

        <!--CONTENIDO PRINCIPAL SIEMPRE HIJO DE BODY-->
        <main id="contenido">
            <section class="galeria">
                <img src="../assets/images/buho.webp" alt="">                
                <img src="../assets/images/buho2.jpg" alt="">
                <img src="../assets/images/buho3.jpg" alt="">
                <img src="../assets/images/buho4.webp" alt="">
                <img src="../assets/images/buho.webp" alt="">
                <img src="../assets/images/buho2.jpg" alt="">
                <img src="../assets/images/buho3.jpg" alt="">
                <img src="../assets/images/buho4.webp" alt="">
            </section>
        </main>

        <!--FOOTER DE LA PÁGINA, PUEDE HABER OTROS DE ARTICLE O SECTION-->
        <footer class="main-footer">
            <p>
                BattleOwl &copy; David OM 2025
            </p>
        </footer>
    </body>
</html>