---
const { nombre } = Astro.props;
---

<h1>Hola, soy {nombre}</h1>
<p>
	Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis iure
	inventore, porro voluptas dolor distinctio doloremque, deleniti, cumque
	nobis eos sunt recusandae error itaque voluptatum repellendus et sed facere
	nostrum!
</p>
