<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Mi App{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="{{ url_for('inicio') }}">Inicio</a></li>
                <li><a href="{{ url_for('decir_hola') }}">Saludar</a></li>
            </ul>
        </nav>
        
        {% block content %}
            <h1>Hola hola</h1>
        {% endblock %}

        <footer>
            <p>&copy; 2025 DavsEjemplo</p>
        </footer>
    </body>
</html>