<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Flask Tareas{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/alerts.js') }}"></script>
</head>
<body>
    {% include 'partials/header.html' %}

    {% block content %}
        <h1>ESTO ES LA PLANTILLA, ¡SOBREESCRIBE!</h1>
    {% endblock %}    

    {% include 'partials/footer.html' %}
</body>
</html>