---
import NavBar from "../components/NavBar.astro";

export interface Props {
	titulo: string;
}

// const titulo = Astro.props.titulo;
const { titulo } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="icon_owl.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{titulo}</title>
	</head>
	<body>
		<NavBar 
			logo="icon_owl.png", 
			brand="OMDavid", 
			links={[
				{ text: "Home2", href: "/" },
				{ text: "Contacto2", href: "/contacto" },
				{ text: "Nosotros2", href: "/nosotros" }
			]},
			colorPrincipal="#667eea",
			colorSecundario="#764ba2"
		/>

		<slot />
		<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae sit voluptatibus iure provident fuga commodi consectetur quo natus. Eum illum eos illo deleniti at voluptates provident atque nulla quae culpa.</p>
		<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae sit voluptatibus iure provident fuga commodi consectetur quo natus. Eum illum eos illo deleniti at voluptates provident atque nulla quae culpa.</p>
		<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae sit voluptatibus iure provident fuga commodi consectetur quo natus. Eum illum eos illo deleniti at voluptates provident atque nulla quae culpa.</p>
		<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae sit voluptatibus iure provident fuga commodi consectetur quo natus. Eum illum eos illo deleniti at voluptates provident atque nulla quae culpa.</p>
		<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae sit voluptatibus iure provident fuga commodi consectetur quo natus. Eum illum eos illo deleniti at voluptates provident atque nulla quae culpa.</p>
		v
		<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae sit voluptatibus iure provident fuga commodi consectetur quo natus. Eum illum eos illo deleniti at voluptates provident atque nulla quae culpa.</p>
		<var>v
			<var><var></var></var>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae sit voluptatibus iure provident fuga commodi consectetur quo natus. Eum illum eos illo deleniti at voluptates provident atque nulla quae culpa.</p>
		</var>
		<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae sit voluptatibus iure provident fuga commodi consectetur quo natus. Eum illum eos illo deleniti at voluptates provident atque nulla quae culpa.</p>
		<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae sit voluptatibus iure provident fuga commodi consectetur quo natus. Eum illum eos illo deleniti at voluptates provident atque nulla quae culpa.</p>
		<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae sit voluptatibus iure provident fuga commodi consectetur quo natus. Eum illum eos illo deleniti at voluptates provident atque nulla quae culpa.</p>
		<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae sit voluptatibus iure provident fuga commodi consectetur quo natus. Eum illum eos illo deleniti at voluptates provident atque nulla quae culpa.</p>
		<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae sit voluptatibus iure provident fuga commodi consectetur quo natus. Eum illum eos illo deleniti at voluptates provident atque nulla quae culpa.</p>
		<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae sit voluptatibus iure provident fuga commodi consectetur quo natus. Eum illum eos illo deleniti at voluptates provident atque nulla quae culpa.</p>
		<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae sit voluptatibus iure provident fuga commodi consectetur quo natus. Eum illum eos illo deleniti at voluptates provident atque nulla quae culpa.</p>
		<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae sit voluptatibus iure provident fuga commodi consectetur quo natus. Eum illum eos illo deleniti at voluptates provident atque nulla quae culpa.</p>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
